* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

header {
    background-image: url(./img/Image.png);
    background-repeat: no-repeat;
    background-size: cover;
}


header .container {
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    align-items: center;
    padding: 30px 0px;
}

.nav-list {
    display: flex;
    margin-left: 50px;
}

.nav-link {
    margin-left: 30px;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    letter-spacing: -0.500211px;
    text-decoration: none;
    color: #19191B;
}

.nav-link:hover {
    color: #F04037;
}

.header-info-box {
    padding-top: 90px;
    padding-left: 130px;
    padding-bottom: 120px;
}

.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
}

.header-form {
    display: flex;
    width: 480px;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #EAE9F2;
    border-radius: 10px;
}

.form-label {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}

.email-name {
    margin-left: 20px;

}

.form-input {
    width: 140px;
    height: 30px;
    outline: none;
    border: none;
}

.email-button {
    padding: 17px 47px;
    background: #F04037;
    border: 1px solid #C31A12;
    border-radius: 5px;
    color: white;
    font-weight: 500;

}

.email-button:hover {
    text-decoration: underline;
}

.email-name {
    margin-left: 10px;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.562737px;
    color: #696871;
}

.header-info-title {
    font-size: 54px;
    line-height: 70px;
    letter-spacing: -1.87579px;
    color: #19191B;

}

.header-info-text {
    font-size: 21px;
    line-height: 39px;
    letter-spacing: -0.656526px;
    color: #696871;
    padding: 20px 0px;
}

.header-info-box {
    width: 60%;
}

.products {
    background-color: #413E65;
}

.products .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 100px 0px 100px 130px;

}

.layouts-box {
    width: 40%;
}

.layout-info-box {
    width: 45%;
    padding-top: 30px;
}

.layout {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    border-radius: 5px;
}

.layout-info {
    margin-left: 10px;
}



.layout-title {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.750316px;
    color: #19191B;
    margin: 8px 0px;

}

.layout-text {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.500211px;
    color: #696871;
    margin: 15px 0px;
}

.info-box-title {
    font-size: 54px;
    line-height: 70px;
    letter-spacing: -1.87579px;
    color: #FFFFFF;

}

.info-box-text {
    padding: 10px 0px;
    font-size: 21px;
    line-height: 39px;
    letter-spacing: -0.656526px;
    color: rgba(255, 255, 255, 0.702469);
    margin-bottom: 20px;
}

.info-box-link {
    width: 150px;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.656526px;
    color: #FFFFFF;
    background-color: #F04037;
    padding: 15px 25px;
    border: 1px solid #C31A12;
    border-radius: 5px;
    text-decoration: none;
}

.info-box-link:hover {
    text-decoration: underline;
}

.users {
    position: relative;
    background-image: url(./img/IMG.png);
    background-repeat: no-repeat;
    background-position-x: 930px;
    background-size: contain;
}

.user-info {
    width: 60%;
    padding: 150px 0px 150px 130px;
}

.users-title {
    font-size: 54px;
    line-height: 70px;
    letter-spacing: -1.87579px;
    color: #19191B;

}

.users-text {
    font-size: 21px;
    line-height: 39px;
    letter-spacing: -0.656526px;
    color: #696871;
    margin: 15px 0px;

}


.users-link {
    display: inline-block;
    padding: 12px 20px;
    background-color: #C31A12;
    color: white;
    font-weight: 500;
    text-decoration: none;
    border-radius: 5px;
    margin: 28px 0px;
}

.users-link:hover {
    text-decoration: underline;
}

.users:after {
    position: absolute;
    content: "";
    display: block;
    width: 200px;
    height: 200px;
    background-image: url(./img/oval.png);
    bottom: 50px;
    right: 380px;
}


.features-section .container {
    padding: 60px 25px;
    display: flex;
    flex-direction: column;

}

.first-features-box {
    display: flex;
    padding: 70px 40px;
    justify-content: space-between;
}

.feature-item {
    width: 33%;
    padding: 12px;
    display: flex;
    align-items: center;
    margin: 0px 10px;
    background: #FFFFFF;
    border: 1px solid #EAE9F2;
    border-radius: 10px;
}

.features-title {
    text-align: center;
    font-size: 54px;
    line-height: 70px;
    text-align: center;
    letter-spacing: -1.87579px;
    color: #19191B;
}

.feauture-img {
    margin-right: 15px;
    margin-left: 1px;
}

.feature-name {
    font-size: 21px;
    line-height: 25px;
    letter-spacing: -0.656526px;
    color: #19191B;
}

.second-feature-box {
    display: flex;
    padding: 0px 100px;
    margin-left: 10px;
}

.last {
    margin-left: 80px;
}


.third-features-box {
    display: flex;
    display: flex;
    padding: 0px 40px;
    padding-top: 50px;
    justify-content: space-between;
}

.content-section {
    background-image: url(./img/girl.png);
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: 70px;
}


.reviews-section .container {
    display: flex;
    flex-direction: column;
}


.review-owner {
    display: flex;
    align-items: center;
}


.reviews {
    display: flex;
    flex-direction: row;
    padding-top: 60px;


}

.first-review {
    padding: 25px;
    width: 35%;
    margin-left: 170px;
    background: #FFFFFF;
    border: 1px solid #EAE9F2;
    border-radius: 10px;
}

.second-review {
    padding: 25px;
    width: 35%;
    margin-left: 45px;
    background: #FFFFFF;
    border: 1px solid #EAE9F2;
    border-radius: 10px;

}


.review-section-title {
    font-size: 54px;
    line-height: 70px;
    text-align: center;
    letter-spacing: -1.87579px;
    color: #19191B;
    padding: 120px 0px 10px 0px;
}

.review-section-text {
    font-size: 21px;
    line-height: 39px;
    text-align: center;
    letter-spacing: -0.656526px;
    color: #696871;
}

.name {
    font-size: 21px;
    line-height: 28px;
    font-weight: 500;
    letter-spacing: -0.656526px;
    color: #19191B;
    padding-top: 10px;

}

.review-text {
    font-size: 21px;
    line-height: 39px;
    letter-spacing: -0.656526px;
    color: #19191B;
}

.profession {
    padding: 5px 0px;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.500211px;
    color: #696871;

}

.re-img {
    margin-right: 10px;
}

.line {
    padding: 50px 0px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.line-line {
    width: 15px;
    height: 5px;
    background-color: darkgray;
    margin-left: 8px;
    border-radius: 3px;
}

.last-section {
    background-color: #413E65;
    padding: 100px 0px;

}

.last-section .container {
    display: flex;
    flex-direction: row;
}

.last-image {
    width: 40%;
}

section {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    padding: 50px 0px;
}


.last-section-form {
    display: flex;
    flex-direction: column;
}

.last-section-title {
    font-size: 54px;
    line-height: 70px;
    letter-spacing: -1.87579px;
    color: #FFFFFF;

}

.last-section-text {
    font-size: 21px;
    line-height: 39px;
    letter-spacing: -0.656526px;
    color: rgba(255, 255, 255, 0.7);
    padding: 20px 0px;
}


.last-form-label {
    display: flex;
    align-items: center;
    width: 360px;
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    color: #696871;

}

.last-form-button {
    margin-top: 10px;
    display: flex;
    align-items: center;
    width: 360px;
    padding: 15px 15px 15px 120px;
    background: #F04037;
    border: 1px solid #C31A12;
    border-radius: 10px;
    font-size: 19px;
    line-height: 25px;
    text-align: center;
    color: white;
    font-weight: 600;

}

.label-input {
    width: 140px;
    border: none;
    height: 25px;
    outline: none;
}

.last-form-button:hover {
    text-decoration: underline;
}

.mail-icon {
    margin-right: 80px;
}

footer .container {
    display: flex;
    padding: 100px 0px;


}

.footer-headings {
    width: 25%;
}

.social-image {
    width: 25px;
    filter: grayscale(1);
}

.social-list {
    display: flex;
}

.footer-title {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.750316px;
    color: #19191B;

}

.footer-text {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.500211px;
    color: #696871;
    padding: 20px 0px;
}

.social-link {
    margin-left: 10px;
}

.lists {
    width: 70%;
}

.footer-list {
    display: flex;
    justify-content: space-between;
}


.footer-link {
    display: block;
    margin-bottom: 20px;
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.500211px;
    color: #19191B;
    font-weight: 600;


}

.footer-link:hover {
    text-decoration: underline;
}

.footer-sub-item {
    margin: 10px 0px;
}

.footer-sub-link {
    display: block;
    text-decoration: none;
    font-size: 16px;
    line-height: 38px;
    letter-spacing: -0.500211px;
    color: #19191B;
}

.footer-sub-link:hover {
    text-decoration: underline;
}

.contact {
    font-size: 16px;
    line-height: 38px;
    letter-spacing: -0.500211px;
    color: #5454D4;

}

@media (max-width:1160px) {
    .container {
        width: 1000px;
    }

    .users {
        background-image: none;
    }

    .users::after {
        display: none;
    }
}

@media (max-width:1020px) {
    .container {
        width: 900px;
    }


}

@media (max-width:920px) {
    .container {
        width: 800px;
    }

    header {
        background-image: none;
        background-color: #D2DBDF;
        background-size: cover;
    }


}

@media (max-width:820px) {
    .container {
        width: 700px;
    }

    .header-info-box {
        padding-left: 30px;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-info-title {
        text-align: center;
    }

    .header-info-text {
        text-align: center;
    }

    .feature-name {
        font-size: 18px;
    }

    .products .container {
        display: flex;
        flex-direction: column-reverse;
        padding-left: 30px;

    }

    .layout-info-box {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .info-box-title {
        text-align: center;
    }

    .info-box-text {
        text-align: center;
    }

    .info-box-link {
        width: 25%;
        display: inline-block;
    }

    .layouts-box {
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-evenly;
    }

    .layout {
        width: 45%;
    }

    .layout-text {
        text-align: justifys;
    }



    .user-info {
        width: 90%;
        padding-left: 30px;
        padding-bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .users-title {
        text-align: center;
    }

    .users-text {
        text-align: center;
    }

    .first-features-box {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding-bottom: 10px;
    }

    .feature-item {
        width: 350px;
        margin: 10px 0px;
    }

    .second-feature-box {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .third-features-box {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding-top: 10px;
    }

    .last {
        margin-left: 0px;
        
    }

    .content-section {
        background-image: none;
        background-color: #06B0D6;
        background-size: cover;
    }

    .reviews {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .first-review, .second-review {
        width: 460px;
        margin-left: 100px;
        margin-top: 20px;
    }

    .last-section .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 30px;

    }

    .last-image {
        width: 100%;
        padding-left: 0px;
        text-align: center;
    }

    .man-image {
        width: 400px;
    }

    .last-one {
        margin-left: 0px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .last-section-title {
        text-align: center;
    }

    .last-section-text {
        text-align: center;
    }
}


@media (max-width:720px) {
    .container {
        width: 600px;
    }

    .info-box-link {
        width: 30%;
    }

    footer .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        padding-bottom: 30px;
    }

    .footer-title {
        text-align: center;
    }
    .footer-text {
        text-align: center;
    }

    .social-list {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 20px;
    }

    .footer-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
        
    }

    .footer-sub-list {
        display: none;
    }

    .layout {
        padding: 10px;
    }
}


@media (max-width:620px) {
    .container {
        width: 500px;
    }

    .first-review, .second-review {
        width: 460px;
        margin-left: 20px;
        margin-top: 20px;
    }

    .info-box-link {
        width: 40%;
    }

    .layouts-box {
        flex-direction: column;
    }

    .layout {
        padding: 10px;
        width: 90%;
    }
}


@media (max-width:520px) {
    .container {
        width: 400px;
    }

}


    @media (max-width:420px) {
        .container {
            width: 90%;
        }

     

        .info-box-link {
            width: 50%;
        }

    }